@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@{
    ViewData["Title"] = "Profile";
}

<div class="card card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            <img class="profile-user-img img-fluid img-circle"
                 src="~/dist/img/Avatar.png"
                 alt="User profile picture">
        </div>

        <h3 class="profile-username text-center">
            @ViewData["Name"]
            @if (_signInManager.IsSignedIn(User)) { 
                @(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value)
            }
            else
            {
            <p>No User Available.</p>
            }
        </h3>

        <p class="text-muted text-center">Software Engineer</p>
        @if (_signInManager.IsSignedIn(User))
        {
            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>Name</b> <a class="float-right">@(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value)</a>
                </li>
                <li class="list-group-item">
                    <b>Phone Number</b> <a class="float-right">09090909</a>
                </li>
                <li class="list-group-item">

                    <b>email</b> <a class="float-right">@User.Identity.Name</a>

                </li>
            </ul>
        }

            <a href="/home" class="btn btn-primary btn-block"><b>Cancel</b></a>
        </div>
    <!-- /.card-body -->
</div>