@{
    ViewData["Title"] = "Add New Employee";

}
@model Employee

@if(ViewBag.IsSucess == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Congratulations</strong> You have added new employee successfully. <br />
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<div class="card m-5">
    <div class="card-header mr-5 d-flex justify-content-sm-end ">
        <a asp-action="" class="btn btn-outline-primary btn-sm"><i class="fa fa-backward"></i> Back To Employee</a>
    </div>

    <div class="modal-body mx-sm-5">


        <form method="post" asp-action="AddNewEmployee" asp-controller="Employee">


            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <input asp-for="fullName" class="form-control" placeholder="Full name">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="fullName" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <input asp-for="email" class="form-control" placeholder="Email">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <input asp-for="phoneNumber" class="form-control" placeholder="Phone Number">
                    <div class="input-group-text">
                        <span class="fa fa-phone"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="phoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <input asp-for="salary" class="form-control" placeholder="salary">
                    <div class="input-group-text">
                        <span class="fas fa-dollar-sign"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="salary" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <input asp-for="age" class="form-control" placeholder="Age">
                    <div class="input-group-text">
                        <span class="fas fa-calendar"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="age" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <select asp-for="gender" class="form-control" placeholder="Gender">
                        <option value="">Please select a Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <div class="input-group-text">
                        <span class="fas fa-venus-mars"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="gender" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <input asp-for="account_number" class="form-control" placeholder="Account Number">
                    <div class="input-group-text">
                        <span class="fas fa-euro-sign"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="account_number" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <input asp-for="jobTitle" class="form-control" placeholder="Job Title">

                    <div class="input-group-text">
                        <span class="fas fa-receipt"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="jobTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append ">
                    <input asp-for="faculity" class="form-control" placeholder="Faculty">
                    <div class="input-group-text">
                        <span class="fas fa-sitemap"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="faculity" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <input asp-for="department" class="form-control" placeholder="Department">
                    <div class="input-group-text">
                        <span class="fas fa-layer-group"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="department" class="text-danger"></span>
                </div>
            </div>


            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <input asp-for="advance" class="form-control" placeholder="Advance" required>
                    <div class="input-group-text">
                        <span class="fas fa-layer-group"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="advance" class="text-danger"></span>
                </div>
            </div>

            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <input asp-for="others" class="form-control" placeholder="Other Ded" required>
                    <div class="input-group-text">
                        <span class="fas fa-layer-group"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="others" class="text-danger"></span>
                </div>
            </div>


            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <input asp-for="saving" class="form-control" placeholder="Saving" required>
                    <div class="input-group-text">
                        <span class="fas fa-layer-group"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="saving" class="text-danger"></span>
                </div>
            </div>

            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <input asp-for="ourt" class="form-control" placeholder="Court Order" required>
                    <div class="input-group-text">
                        <span class="fas fa-layer-group"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="ourt" class="text-danger"></span>
                </div>
            </div>

            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <input asp-for="guard" class="form-control" placeholder="Gurad" required>
                    <div class="input-group-text">
                        <span class="fas fa-layer-group"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="guard" class="text-danger"></span>
                </div>
            </div>


            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <input asp-for="allowance" class="form-control" placeholder="Allowance" required>
                    <div class="input-group-text">
                        <span class="fas fa-layer-group"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="allowance" class="text-danger"></span>
                </div>
            </div>


            <div class="input-group mb-3 d-flex flex-column">
                <div class="input-group-append">
                    <input asp-for="houseAllowance" class="form-control" placeholder="House Allowance" required>
                    <div class="input-group-text">
                        <span class="fas fa-layer-group"></span>
                    </div>
                </div>
                <div>
                    <span asp-validation-for="houseAllowance" class="text-danger"></span>
                </div>
            </div>


            <div class="modal-footer justify-content-between">
                <a type="button" class="btn btn-outline-danger" asp-action="">Close</a>
                <button type="submit" class="btn btn-success">Save changes</button>
            </div>
        </form>

    </div>


</div>
